__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
data/client_data.csv
data/generated_bills/*
!data/generated_bills/.gitkeep
images_source_backup/
images/sr_*
.env
.vscode/
*.code-workspace
data/bills/
data/monthly_reports/
